<html>
  <head>
    <title>
      Launchaco - Name a Business.
    </title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/devices.css">
  </head>
  <body>
    <div>
    <header class="header">
      <div class="container-lrg">
        <div class="col-12 spread">
          <div>
            <a class="logo">
              OZZ.ai
            </a>
          </div>
          <div>
            <a class="nav-link" href="#">
              Twitter
            </a>
            <a class="nav-link" href="#">
              Facebook
            </a>
          </div>
        </div>
      </div>
      <div class="container-lrg flex">
        <div class="col-6 centervertical">
          <h1 class="heading">
            Make your Chatbots<div>Smarter</div>
          </h1>
          <h2 class="paragraph ">
            Automated Testing<div>Smart Analytics</div><div>Continuous Learning</div>
          </h2>
          <div class="ctas">
            <a class="ctas-button" href="">
              Sign Up
            </a>
          </div>
        </div>
        <div class="col-6 sidedevices">
          <div class="computerwrapper">
            <div class="computer">
              <div class="mask">
                <img class="mask-img" src="img/webapp.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="feature4">
      <div class="container-lrg flex">
        <div class="col-5 centervertical">
          <h3 class="subheading">
            Brilliant Domain Names.
          </h3>
          <p class="paragraph">
            Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!
          </p>
        </div>
        <div class="col-1">
        </div>
        <div class="col-6">
          <div class="sidedevices">
            <div class="browserwrapper">
              <div class="browser">
                <div class="mask">
                  <img class="mask-img" src="img/webapp.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature1">
      <div class="container-sml">
        <div class="col-12 text-center">
          <h3 class="heading">
            Brilliant Domain Names.
          </h3>
          <p class="paragraph">
            Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!
          </p>
        </div>
      </div>
      <div class="container-lrg centerdevices col-12">
        <div class="browserwrapper">
          <div class="browser">
            <div class="mask">
              <img class="mask-img" src="img/webapp.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature4">
      <div class="container-lrg flex">
        <div class="col-5 centervertical">
          <h3 class="subheading">
            Brilliant Domain Names.
          </h3>
          <p class="paragraph">
            Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!
          </p>
        </div>
        <div class="col-1">
        </div>
        <div class="col-6">
          <div class="sidedevices">
            <div class="browseriphone">
              <div class="iphone">
                <div class="mask">
                  <img class="mask-img" src="img/mobileapp.svg">
                </div>
              </div>
              <div class="browser">
                <div class="mask">
                  <img class="mask-img" src="img/webapp.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="socialproof">
      <div class="container-lrg">
        <div class="flex text-center">
          <div class="col-3">
            <h6 class="heading">
              20,923
            </h6>
            <b class="paragraph">
              Users
            </b>
          </div>
          <div class="col-3">
            <h6 class="heading">
              52,548
            </h6>
            <b class="paragraph">
              Users
            </b>
          </div>
          <div class="col-3">
            <h6 class="heading">
              110,552
            </h6>
            <b class="paragraph">
              Users
            </b>
          </div>
          <div class="col-3">
            <h6 class="heading">
              6,850
            </h6>
            <b class="paragraph">
              Users
            </b>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container-sml">
        <div class="col-12 text-center">
          <div>
            <a class="nav-link">
              Twitter
            </a>
            <a class="nav-link">
              Facebook
            </a>
            <a class="nav-link">
              Contact
            </a>
            <a class="nav-link">
              TOS
            </a>
            <a class="nav-link">
              Privacy
            </a>
          </div>
          <br>
          <div>
            <span>
              © 2016 Compute Studios.
            </span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>